<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinsa.miniproject.dao.ProductMapper">

	<select id="getProduct" parameterType="String"
		resultType="productDTO">
		SELECT
		p_no,p_name,p_price,p_info,p_loc,p_img,p_seller,p_state,p_category,p_time
		FROM product WHERE p_no = #{pNo}
	</select>

	<select id="getProducts" resultType="productDTO">
		SELECT
		p_no,p_name,p_price,p_info,p_loc,p_img,p_seller,p_state,p_category,p_time
		FROM product ORDER BY p_no DESC
	</select>

	<select id="getProductsSearching" parameterType="map"
		resultType="productDTO">
		SELECT
		p_no,p_name,p_price,p_info,p_loc,p_img,p_seller,p_state,p_category,p_time
		FROM product
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="pCategory != null">p_category = #{pCategory} AND</if>
			<if test="pLoc != null">p_loc LIKE CONCAT('%',#{pLoc},'%') AND</if>
			<!-- <if test="pSeller != null">p_seller LIKE CONCAT('%',#{pSeller},'%') AND</if> -->
			<if test="pSeller != null">p_seller=#{pSeller} AND</if>
			<if test="pName != null">p_name LIKE CONCAT('%',#{pName},'%')</if>
			<if test="pCategory == null and pLoc==null and pSeller==null and pName==null">p_no = -1 AND</if>
		</trim>
		<trim prefix="ORDER BY">
			<if test="orderBy == 'ASC'"> p_no ASC </if>
			<if test="orderBy == 'DESC'"> p_no DESC </if>
		</trim>

	</select>





	<insert id="insertProduct" parameterType="productDTO" keyProperty="pNo" useGeneratedKeys="true" keyColumn="pNo">
		INSERT INTO
		product(p_name,p_price,p_info,p_loc,p_img,p_seller,p_category)
		values(#{pName},#{pPrice},#{pInfo},#{pLoc},#{pImg},#{pSeller},#{pCategory})
		<selectKey keyProperty="pNo" resultType="java.lang.Integer"
         order="AFTER">
         SELECT LAST_INSERT_ID()   <!-- 나중에 id를 넣어준다고 명시(mysql이 지원하는 것) -->
      </selectKey>
	</insert>

	<update id="updateProduct" parameterType="productDTO">
		UPDATE product set
		p_name=#{pName},p_price=#{pPrice},p_info=#{pInfo},p_loc=#{pLoc},
		p_img=#{pImg},p_seller=#{pSeller},p_state=#{pState},p_category=#{pCategory}
		where p_no=#{pNo}
	</update>

	<delete id="deleteProduct" parameterType="productDTO">
		delete from product
		where p_no=#{pNo}
	</delete>
</mapper>