<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinsa.miniproject.dao.ProductMapper">

	<select id="getProduct" parameterType="String"
		resultType="productDTO">
		SELECT p_no,p_name,p_price,p_info,p_loc,p_img,p_seller,p_state,p_category,p_time FROM product WHERE p_no = #{pNo}
	</select>

	<select id="getProducts" resultType="productDTO">
	SELECT p_no,p_name,p_price,p_info,p_loc,p_img,p_seller,p_state,p_category,p_time FROM product
	</select>
	
	 
	

	<insert id="insertProduct" parameterType="productDTO">
		INSERT INTO product(p_name,p_price,p_info,p_loc,p_img,p_seller,p_category) 
		values(#{pName},#{pPrice},#{pInfo},#{pLoc},#{pImg},#{pSeller},#{pCategory})
	</insert>
	
	<update id="updateProduct" parameterType="productDTO">
	UPDATE product set p_name=#{pName},p_price=#{pPrice},p_info=#{pInfo},p_loc=#{pLoc},
	p_img=#{pImg},p_seller=#{pSeller},p_state=#{pState},p_category=#{pCategory}
	where p_no=#{pNo}
	</update>
	
	<delete id="deleteProduct" parameterType="productDTO">
	delete from product where p_no=#{pNo}
	</delete>
</mapper>